#drona-btn {
    border: none;
    background-color: transparent;
    margin-bottom: 2px;
}

.drona-btn-clicked {
    cursor: not-allowed;
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

#summary-btn, #quiz-btn {
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    padding: 10px 20px;
    margin: 4px 2px;
}

#summarydisplay, #quizdisplay {
    letter-spacing:1.5px;
    line-height:1.6;
    font-size:14px;
    /* border:2px solid black; */
    padding:10px;
    margin-top: 25px;
    background: rgba( 255, 255, 255, 0.55 );
    /* background:transparent; */
    position: relative;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#backimg {
    background: url("https://github.com/teknas07/Drona_aasets/blob/main/logo.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.4;
}

/* Loader CSS */
.load-text {
    padding-top: 15px;
    font-weight: bolder;
    text-align: center;
    font: 18pt "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3c57dd;
}

.loader {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader .center {
    width: 40px;
    height: 40px;
    background: #3c57dd;
    border-radius: 50%;
    animation: center 3.2s ease-in-out infinite;
  }
  .loader .item {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    background: #3c57dd;
    border-radius: 50%;
  }

  .item-1 {
    animation: anim-1 3.2s ease-in-out infinite 0.2s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-1 {
    0%, 60%, 100% {
      transform: rotate(45deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(45deg) translateX(0) scale(1.5);
    }
  }

  .item-2 {
    animation: anim-2 3.2s ease-in-out infinite 0.4s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-2 {
    0%, 60%, 100% {
      transform: rotate(90deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(90deg) translateX(0) scale(1.5);
    }
  }
  .item-3 {
    animation: anim-3 3.2s ease-in-out infinite 0.6s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-3 {
    0%, 60%, 100% {
      transform: rotate(135deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(135deg) translateX(0) scale(1.5);
    }
  }
  .item-4 {
    animation: anim-4 3.2s ease-in-out infinite 0.8s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-4 {
    0%, 60%, 100% {
      transform: rotate(180deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(180deg) translateX(0) scale(1.5);
    }
  }
  .item-5 {
    animation: anim-5 3.2s ease-in-out infinite 1s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-5 {
    0%, 60%, 100% {
      transform: rotate(225deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(225deg) translateX(0) scale(1.5);
    }
  }
  .item-6 {
    animation: anim-6 3.2s ease-in-out infinite 1.2s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-6 {
    0%, 60%, 100% {
      transform: rotate(270deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(270deg) translateX(0) scale(1.5);
    }
  }
  .item-7 {
    animation: anim-7 3.2s ease-in-out infinite 1.4s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-7 {
    0%, 60%, 100% {
      transform: rotate(315deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(315deg) translateX(0) scale(1.5);
    }
  }
  .item-8 {
    animation: anim-8 3.2s ease-in-out infinite 1.6s;
    animation-fill-mode: backwards;
  }
  
  @keyframes anim-8 {
    0%, 60%, 100% {
      transform: rotate(360deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(360deg) translateX(0) scale(1.5);
    }
  }
  @keyframes center {
    0%, 10%, 90%, 100% {
      transform: scale(0.7);
    }
    45%, 55% {
      transform: scale(1);
    }
  }