#drona-btn {
    border:none;
    background-color: transparent;
    cursor: pointer;
    color: #090909;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font: 400 13.3333px Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    margin-bottom: 2px;
}